# Node modules
node_modules/

package-lock.json/

# Environment variables
.env

# Database files
*.sqlite
*.sqlite3
/trades.db

# Log files
npm-debug.log
yarn-debug.log
yarn-error.log

# System files
.DS_Store

data/ETHUSDT-trades-2024-01.csv
